body {
  margin: 0;
  font: 'Montserrat', 'sans-serif';
  color: #444;
  /* color: #61dafb; */
  background-color: #012120;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
